body{
    background-color: #1F1F1F;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 10px;
    width: 80%;
    height: 450px;
    display: flex;
    gap: 10px;
    overflow: hidden;
    justify-content: center;
}

.container img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #f0f0f0ae;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

.container img:hover{
    width: 70%;
}